{{ > header }}
    <section>
        <div class="container-fluid">
            <form action="." method="post" class="">
                <div class="form-group">
                    <label>Qus1:</label>
                    <input class="form-control" name="qus1" type="text">
                     <br>
                </div>

                <div class="form-group">
                    <label>Qus2:</label>
                    <input class="form-control" name="qus2" type="text">
                     <br>
                </div>
                <div class="form-group">
                    <label>Qus3:</label>
                    <input class="form-control" name="qus3" type="text">
                     <br>
                </div>
                <div class="form-group">
                    <label>Qus4:</label>
                    <input class="form-control" name="qus4" type="text">
                     <br>
                </div>
                <div class="form-group">
                    <label>Qus5:</label>
                    <input class="form-control" name="qus5" type="text">
                     <br>
                </div>
                <div class="form-group">
                    <label>Qus6:</label>
                    <input class="form-control" name="qus6" type="text">
                     <br>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
{{ > footer }}