{{>header}}
    <section>
        <form>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="link">
  </div>
    <input name="btn" class="btn btn-outline-success" type="submit" value="Submit">
    </section>
{{>footer}}