{{>header}}
    <section>
        <div class="container">
            <form action="/teacher/class/attendance" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-outline-success" value="Submit">
            </form>
        </div>
    </section>
{{>footer}}