{{> header }}
    <section class="bg-primary">
        <div class="row">
            <div class="col-12 mt-5 vh-100">
                <div class="container-fluid bg-primary">
                    <div class="details teacher-details">
                        <div class="row">
                            <div class="col-4 mb-4 pointer">
                                <div class="details__card--teacher">
                                    <a href="/teacher/class/attendance">
                                        <h5 class="text-center text-capitalize text-white">take attendance</h5>
                                    </a> 
                                </div>
                            </div>
                            <div class="col-4 mb-4 pointer">
                                <div class="details__card--teacher">
                                    <a href="#">
                                        <h5 class="text-center text-capitalize text-white">exam</h5>
                                    </a>
                                </div>
                             
                            </div>
                            <div class="col-4 mb-4 pointer">
                                <div class="details__card--teacher">
                                    <a href="#">
                                        <h5 class="text-center text-capitalize text-white">notice</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 mb-4 pointer">
                                <div class="details__card--teacher">
                                    <a href="#">
                                        <h5 class="text-center text-capitalize text-white">class</h5>
                                    </a>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>   
            </div>
        </div>   
    </section>

{{> footer}}